/*

colors:
  blue - #0081A7
  torquoise - #00AFB9
  whitish - #FDFCDC
  salmon - #FED9B7
  light red - #F07176

*/

/* fonts */

@import url(https://fonts.google.com/specimen/Oswald);
@import url(https://fonts.google.com/specimen/Secular+One);
@import url(https://fonts.google.com/specimen/Metamorphous);

body {
  background-color: #FED9B7;
}

/* main big text css stuff */

header {
  color: #00AFB9;
  font-family: "Secular One";
  font-style: bold;
  font-size: 100px;
  text-align: center;
}


h1 {
	color: #F07176;
	text-align: center;
  font-family: "Oswald";
  font-style: bold italic;
  font-size: 70px;
  text-align: left;
}

h2 {
  font-family: "Metamorphous";
  font-size: 40px;
  color: #0081A7;
}

h3 {
  font-style: bold;
  font-size: 20px;
  color: #FDFCDC;
  text-align: center;
}

h4 {
  font-style: bold;
  font-size: 10px;
  color: #00AFB9;
  text-align: center;
}

/* css functions dealing with the table */

table {
  border: 5px solid black;
  border-style: solid;
  padding: 15px;
}

caption {
  font-size: 25px;
  font-style: bold;
}


#middletable {
  border: 2px solid #0081A7;
  border-style: double;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

#middlecolhead {
  font-style: bold;
  font-size:15px;
}

#laxvideo, #laximage, #laxpodcast {
  border: 1px solid #00AFB9;
  border-style: dotted;
  text-align: center;
}

td {
  border: 2px solid #0081A7;
  border-style: dotted;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

p {
  font-color: #F07176;
}

/* css for links */

a {
  font-size: 15px;
}
a:link {
    color: #2E2BA6;
}
a:visited {
    color: purple;
}
a:hover {
    color: green;
}
a:active {
    color: red;
}

#listTitle {
  font-size: 15px;
}

ul {
  font-size: 8px;
  color: #F07176;
  font-style: bold;
}

#homelink, #aboutlink {
  font-size: 10px;
  color: #F07176;
  padding-top: 50px;
  padding-bottom: 50px;
}

#
