body {
  background-color: #E63946
}

h1 {
	 color: #F1FAEE;
	 text-align: center;
     font-style: bold;
     font-size: 70px;
}

#impact1{
  font-size: 25px;
  color: #A8DADC;
  border-style: dotted dashed;
  padding: 30px;
}

#impact2{
  font-size: 25px;
  color: #457B9D;
  border: 5px solid black;
  border-style: groove inset;
  padding-left: 20px;
  padding-right: 20px;
}

#impact3{
  font-size: 25px;
  color: #1D3557;
  border: 10px solid red;
  padding-top: 10px;
  padding-bottom: 30px;
}
